{% extends "base_templates/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Game Options{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1>Edit Options</h1>
    <p>
      Use the form below to modify your {{ form.instance.get_game_type_display }} game.
      Changes to settings will take effect immediately. Please make sure all players agree before changing the settings.
    </p>
    {% crispy form %}
  </div>
{% endblock %}

{% block javascript %}
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    createApp({
      data: function () {
        return {
          'game_type': "{{ form.instance.game_type }}"
        }
      }
    }).mount('#app-content')
  </script>
{% endblock %}