{% extends "base_templates/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Game Options{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1>Edit Options</h1>
    <p>
      Use the form below to modify your {{ form.instance.get_game_type_display }} game.
      Changes to settings will take effect immediately. Please make sure all players agree before changing the settings.
    </p>
    {% crispy form %}
  </div>
  <div class="container mt-4">
    <div class="card border-danger">
        <div class="card-body">
          <h3 class="h5">Archive Game</h3>
          <div class="alert alert-danger align-self-start">
            This will remove the game from all players' history. You will no longer be able to access this game.
          </div>
          <form action="{% url 'scrabble:archive_game' form.instance.id %}" method="post" onsubmit="return confirm('Are you sure you want to archive this game?')">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Archive Game</button>
          </form>
        </div>
      </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    createApp({
      data: function () {
        return {
          'game_type': "{{ form.instance.game_type }}"
        }
      }
    }).mount('#app-content')
  </script>
{% endblock %}