{% extends "base_templates/base.html" %}
{% load webpack_loader %}
{% load crispy_forms_tags %}

{% block title %}Create New Game{% endblock %}

{% block body %}
  {% render_bundle 'runtime' %}
  <div class="container mt-4">
    <h1>Create New Game</h1>
    <p>Enter up to 3 other players below to create your game.</p>
    {% crispy form %}
  </div>
{% endblock %}

{% block javascript %}
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    createApp({
      data: function () {
        return {
          'game_type': ""
        }
      }
    }).mount('#vue-anchor')
  </script>
{% endblock %}