{% extends "base_templates/base.html" %}
{% load template_utils %}
{% load sass_tags %}

{% load static %}

{% block head %}
  <link href="{% sass_src 'styles/pages/scrabble_game.scss' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  Play
{% endblock %}

{% block body %}
<div class="row row-no-gutters">
  <div class="d-flex flex-column bg-light col-3">
    <p class="text-info-emphasis">It's currently {% if game_player.turn_index == game.next_turn_index %}your{% else %}{{ game.next_player.user.first_name }}'s{% endif %} turn.</p>
    <h3 class="h4">Scores</h3>
    {% for rack in game.racks.all %}
      <div class="d-flex justify-content-between">
        <span>{{ rack.user.first_name }}:</span>
        <span>{{ rack.score }}</span>
      </div>
    {% endfor %}
    <button class="btn btn-outline-primary" type="button" data-bs-target="#allTurns" data-bs-toggle="collapse" aria-expanded="false"><span class="bi bi-chevron-down"></span> View all turns</button>
    <div id="allTurns" class="card mt-1 collapse">
      <div class="card-body">
        {% for turn in game.all_turns %}
          <div>
          {{ turn.game_player.user.first_name }}
          {% if turn.turn_action == TurnAction.play %}
            played {{ turn.turn_words|join:", "|upper }} for {{ turn.score }} point{{ turn.score|pluralize }}
          {% endif %}
          </div>
        {% empty %}
          No turns yet.
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mt-2 col-9">
    <div id="scrabble-board">
    {% for row in game.board %}
      <div class="scrabble-board-row">
      {% with row_index=forloop.counter0 %}
        {% for col in row %}
          {% with multiplier=BOARD_CONFIG|getitem:row_index|getitem:forloop.counter0 %}
          <div class="scrabble-board-square {{ multiplier.value }}">
            {% if col %}
              <div class="scrabble-tile {% if col.0 == '-' %}blank{% endif %}">{{ col|cut:'-' }}<span class="tile-score">{{ TILE_SCORES|getitem:col.0|default:'' }}</span></div>
            {% elif multiplier and multiplier != Multiplier.start %}
              {{ multiplier.value|upper }}
            {% endif %}
          </div>
          {% endwith %}
        {% endfor %}
      {% endwith %}
      </div>
    {% endfor %}
    </div>

    <ul id="rack" class="list-group list-group-horizontal mt-1">
      {% for tile in rack %}
        <li class="list-group-item scrabble-tile">
          {% if tile.letter.isalpha %}<span>{{ tile.letter }}<span class="tile-score">{{ tile.points }}</span></span>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock body %}

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script>
    let rack = document.getElementById('rack')
    new Sortable(rack, {
      swap: true,
      swapClass: 'highlight',
      animation: 150,
      direction: 'horizontal',
    })
  </script>
{% endblock javascript %}
