{% load template_utils %}
{% load django_react_components %}
{% load webpack_loader %}

{% if not game.over %}
  {% url 'scrabble:post_play' game.id as turn_url %}
  {% url 'scrabble:score_play' game.id as score_url %}
  {% url 'scrabble:update_rack' game.id as update_rack_url %}
  {% url 'scrabble:undo_turn' game.id as undo_turn_url %}
  {% render_bundle "UpwordsGame" %}
  {% react_component "UpwordsGame" id="upwords-board-container" board=game.board rack=rack scoreUrl=score_url turnUrl=turn_url inTurn=in_turn updateRackUrl=update_rack_url canUndo=can_undo undoTurnUrl=undo_turn_url csrfToken=csrf_token|stringformat:"s" enforceWordValidation=game.validate_words %}
{% else %}
  <div id="upwords-board-container">
    <div id="upwords-board">
    {% for row in game.board %}
      <div class="upwords-board-row">
      {% with row_index=forloop.counter0 %}
        {% for col in row %}
          <div class="upwords-board-square pos-{{ forloop.counter0 }}{{ row_index }}">
            {% if col %}
              <div class="tile height-{{ col|length }} {{ col.0 }}">
                <div class="height-container">
                  {% for l in col %}
                    <div class="height-marker"></div>
                  {% endfor %}
                </div>
                {{ col.0 }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endwith %}
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}
