{% extends "base_templates/base.html" %}
{% load webpack_loader %}
{% load template_utils %}
{% load sass_tags %}

{% load static %}

{% block head %}
  <link href="{% sass_src 'styles/pages/word_game.scss' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  Play
{% endblock %}

{% block body %}
{% render_bundle 'runtime' %}
<div class="row row-no-gutters">
  <div class="sidebar col-3 pt-4 full-height">
    {% if not game.over %}
      {% if in_turn %}
        <p class="text-info-emphasis"><span class="bi bi-person-arms-up"></span> It's your turn!</p>
      {% else %}
      <p class="text-info-emphasis">It's currently {{ game.next_player.user.get_short_name }}'s turn.</p>
      {% endif %}
      <div class="accordion">
        <div class="accordion-item">
          <button class="accordion-button collapsed bg-primary-subtle" type="button" data-bs-target="#tileCounts" data-bs-toggle="collapse" aria-expanded="false">
            There are {{ game.letter_bag|length|default:"no" }} tile{{ game.letter_bag|length|pluralize }} in the letter bag.
          </button>
          <div id="tileCounts" class="accordion-collapse collapse">
            <ul class="list-group">
              {% for letter, count in letter_counts %}
                <li class="list-group-item">{{ letter }} x {{ count }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <hr>
    {% else %}
      <h3 class="h4">Game Over</h3>
      {% with winners=game.winners %}
        {% if winners|length == 1 %}
          <p><span class="bi bi-award-fill"></span> {{ winners.0.user.get_short_name }} won with {{ winners.0.score }} points!</p>
        {% else %}
          <p>
          <span class="bi bi-balloon-fill"></span>
          {% for player in winners %}
            {% if winners|length > 2 and not forloop.first %}, {% endif %}{% if forloop.last %} and {% endif %}{{ player.user.get_short_name }}
          {% endfor %}
          tied with {{ winners.0.score }} points!
          </p>
        {% endif %}
      {% endwith %}
    {% endif %}
    <h3 class="h4">{% if game.over %}Final {% endif %}Scores</h3>
    {% for rack in game.racks.all %}
      <div class="d-flex justify-content-between">
        <span>{{ rack.user.get_short_name }}:</span>
        <span>{{ rack.score }}</span>
      </div>
    {% endfor %}
    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-button collapsed bg-primary-subtle" type="button" data-bs-target="#allTurns" data-bs-toggle="collapse" aria-expanded="false">View all turns</button>
        <div id="allTurns" class="accordion-collapse collapse">
          <div class="card-body">
            {% for turn in game.all_turns %}
              <div class="turn-item">
              <span class="bi bi-play"></span>
              {{ turn.game_player.user.get_short_name }}
              {% if turn.turn_action == TurnAction.play %}
                played {{ turn.turn_words|join:", "|upper }}<br>
                <div class="badge bg-success-subtle text-dark rounded-pill">{{ turn.score }} point{{ turn.score|pluralize }}</div>
              {% elif turn.turn_action == TurnAction.pass %}
                passed
              {% elif turn.turn_action == TurnAction.exchange %}
                exchanged tiles
              {% elif turn.turn_action == TurnAction.forfeit %}
                forfeited
              {% elif turn.turn_action == TurnAction.end_game %}
                {% if turn.score < 0 %}
                  had unplayed tile{{ turn.rack_before_turn|pluralize }} {{ turn.rack_before_turn|join:"" }}<br>
                  <div class="badge bg-danger-subtle text-dark rounded-pill">{{ turn.score }} point{{ turn.score|pluralize }}</div>
                {% else %}
                  went out!
                  {% if turn.score > 0 %}
                  <div class="badge bg-success-subtle text-dark rounded-pill">{{ turn.score }} point{{ turn.score|pluralize }}</div>
                  {% endif %}
                {% endif %}
              {% endif %}
              </div>
            {% empty %}
              No turns yet.
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mt-2 col-9">
    {% if game.game_type == WordGame.scrabble %}
      {% include "scrabble/scrabble_board.html" %}
    {% elif game.game_type == WordGame.upwords %}
      {% include "scrabble/upwords_board.html" %}
    {% endif %}
  </div>
</div>
{% endblock body %}

{% block javascript %}
  <script type="text/javascript">
    window.csrfmiddlewaretoken = '{{ csrf_token }}';
  </script>

  {% if not in_turn %}
    <script type="text/javascript">
      const turnIndex = {{ game.next_turn_index }};
      const checkTurnIndex = async () => {
        try {
          const currentTurnIndexResp = await (await fetch("{% url 'scrabble:get_game_turn' game_id=game.id %}")).json()
          if (currentTurnIndexResp.turn_index !== turnIndex) {
            location.reload()
          } else {
            setTimeout(checkTurnIndex, 5000)
          }
        } catch {
          location.reload()
        }
      }
      setTimeout(checkTurnIndex, 5000)
    </script>
  {% endif %}
{% endblock %}

