{% extends "base_templates/base.html" %}
{% load webpack_loader %}
{% load template_utils %}
{% load sass_tags %}

{% load static %}

{% block head %}
  <link href="{% sass_src 'styles/pages/word_game.scss' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  Play
{% endblock %}

{% block body %}
{% render_bundle 'runtime' %}
<div class="row row-no-gutters">
  <div class="sidebar col-12 col-sm-3 pt-4 full-height-sm">
    {% if not game.over %}
      {% if in_turn %}
        <div class="text-info-emphasis mb-2"><span class="bi bi-person-arms-up"></span> It's your turn!</div>
      {% else %}
      <p class="text-info-emphasis"><span class="bi bi-hourglass-split"></span> It's currently {{ game.next_player.user.get_short_name }}'s turn.</p>
      {% endif %}
      <form action="{% url 'scrabble:update_game_settings' game.id %}" method="post">
        {% csrf_token %}
        <div class="form-check form-switch mb-2">
          <input id="toggle-email" onchange="this.form.submit()" class="form-check-input" type="checkbox" {% if game_player.send_turn_notifications %}checked{% endif %}>
          <label class="form-check-label" for="toggle-email">
            Email notifications {% if game_player.send_turn_notifications %}enabled{% else %}disabled{% endif %}
          </label>
        </div>
      </form>
      <div class="accordion">
        <div class="accordion-item">
          <button class="accordion-button collapsed bg-primary-subtle" type="button" data-bs-target="#tileCounts" data-bs-toggle="collapse" aria-expanded="false">
            There are {{ game.letter_bag|length|default:"no" }} tile{{ game.letter_bag|length|pluralize }} in the letter bag.
          </button>
          <div id="tileCounts" class="accordion-collapse collapse">
            <ul class="list-group">
              <li class="list-group-item fst-italic">Counts include opponents' racks.</li>
              {% for letter, count in letter_counts %}
                <li class="list-group-item">{{ letter }} x {{ count }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <hr>
    {% else %}
      <h3 class="h4">Game Over</h3>
      {% with winners=game.winners %}
        {% if winners|length == 1 %}
          <p><span class="bi bi-award-fill"></span> {{ winners.0.user.get_short_name }} won with {{ winners.0.score }} points!</p>
        {% else %}
          <p>
          <span class="bi bi-balloon-fill"></span>
          {% for player in winners %}
            {% if winners|length > 2 and not forloop.first %}, {% endif %}{% if forloop.last %} and {% endif %}{{ player.user.get_short_name }}
          {% endfor %}
          tied with {{ winners.0.score }} points!
          </p>
        {% endif %}
      {% endwith %}
    {% endif %}
    <h3 class="h4">{% if game.over %}Final {% endif %}Scores</h3>
    {% for rack in game.ordered_racks %}
      <div class="d-flex justify-content-between">
        <span>{{ rack.user.get_short_name }}:</span>
        <span>{{ rack.score }}</span>
      </div>
    {% endfor %}
    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-button collapsed bg-primary-subtle" type="button" data-bs-target="#allTurns" data-bs-toggle="collapse" aria-expanded="false">View all turns</button>
        <div id="allTurns" class="accordion-collapse collapse">
          <div class="card-body p-1">
            <ul class="nav nav-tabs" id="allTurnsNav" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="scores-list" data-bs-toggle="tab" data-bs-target="#scores-list-pane" type="button" role="tab" aria-controls="scores-list-pane" aria-selected="true">
                  Feed View
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="scores-card" data-bs-toggle="tab" data-bs-target="#scores-card-pane" type="button" role="tab" aria-controls="scores-card-pane">
                  Scorecard View
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="scores-list-pane" role="tabpanel" aria-labelledby="scores-list" tabindex="0">
                {% include "scrabble/components/all_plays_list.html" %}
              </div>
              <div class="tab-pane fade" id="scores-card-pane" role="tabpanel" aria-labelledby="scores-card" tabindex="0">
                {% include "scrabble/components/all_plays_scorecard.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mt-2 col-12 col-sm-9 overflow-x-scroll">
    {% if game.game_type == WordGame.scrabble %}
      {% include "scrabble/scrabble_board.html" %}
    {% elif game.game_type == WordGame.upwords %}
      {% include "scrabble/upwords_board.html" %}
    {% endif %}
  </div>
</div>
{% endblock body %}

{% block javascript %}
  <script type="text/javascript">
    window.csrfmiddlewaretoken = '{{ csrf_token }}';
  </script>

  {% if not in_turn %}
    <script type="text/javascript">
      const turnIndex = {{ game.next_turn_index }};
      const checkTurnIndex = async () => {
        try {
          const currentTurnIndexResp = await (await fetch("{% url 'scrabble:get_game_turn' game_id=game.id %}")).json()
          if (currentTurnIndexResp.turn_index !== turnIndex) {
            location.reload()
          } else {
            setTimeout(checkTurnIndex, 5000)
          }
        } catch {
          location.reload()
        }
      }
      setTimeout(checkTurnIndex, 5000)
    </script>
  {% endif %}
{% endblock %}

