Django==4.2.*  # Latest LTS version
crispy-bootstrap5
django-compressor
django-crispy-forms
django-environ
django-extensions>=3.2
django-react-components
django-rest-framework
django-sass-processor
django-storages
django-webpack-loader==0.7.0
libsass
psycopg2
requests
sentry-sdk
social-auth-app-django


####### OPTIONAL FEATURES #######
# START_FEATURE elastic_beanstalk
ec2_metadata
# END_FEATURE elastic_beanstalk
################################

# Convenience
ipython
