packages:
  yum:
    postgresql15-server-devel: []
    nodejs: []
    jq: []

container_commands:
  01_setup_swap:
        test: test ! -e /var/swapfile
        command: |
            /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=2048
            /bin/chmod 600 /var/swapfile
            /sbin/mkswap /var/swapfile
            /sbin/swapon /var/swapfile
  02_update_pip:
    command: |
      source $PYTHONPATH/activate
      pip install --upgrade pip
  03_install_requirements:
    command: |
      source $PYTHONPATH/activate
      pip install -r requirements.txt
  04_migratedb:
    command: |
      source $PYTHONPATH/activate
      python manage.py migrate --noinput
    leader_only: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health-check/

files:
  "/home/ec2-user/.bashrc":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      # .bashrc
      # Source global definitions
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      # User specific aliases and functions
      source <(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""')
      source $PYTHONPATH/activate && cd /var/app/current
      alias db="cd /var/app/current/; python manage.py shell_plus"

  "/home/ec2-user/.inputrc":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      ## arrow up
      "\e[A":history-search-backward
      ## arrow down
      "\e[B":history-search-forward

  "/opt/elasticbeanstalk/tasks/taillogs.d/cfn-init-cmd.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/cfn-init-cmd.log
