@import "../_variables.scss";

$bootstrap-icons-font-src: url(django-static('bootstrap-icons/font/fonts/bootstrap-icons.woff2')) format('woff2'), url(django-static('bootstrap-icons/font/fonts/bootstrap-icons.woff')) format('woff');
@import 'bootstrap-icons/font/bootstrap-icons.scss';

#scrabble-board-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
#scrabble-board {
  border: 2px #5e330a solid;
  align-self: start;
}

.scrabble-board-row {
  display: flex;
  margin: 0;
}

.scrabble-board-square {
  width: 36px;
  height: 38px;
  font-size: 12px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px #5e330a solid;
  position: relative;

  &.dl {
    background-color: $double-letter;
    color: shade-color($double-letter, 40%);
  }

  &.tl {
    background-color: $triple-letter;
    color: shade-color($triple-letter, 40%);
  }

  &.dw {
    background-color: $double-word;
    color: shade-color($double-word, 40%);
  }

  &.tw {
    background-color: $triple-word;
    color: shade-color($triple-word, 40%);
  }

  &.start {
    background-color: $double-word;
    @extend .bi.bi-star-fill
  }

  .tile {
    font-weight: bold;
    font-size: 19px;
    background-color: $tile-background;
    height: 92%;
    width: 92%;
    border: shade-color($tile-background, 30%) 1px solid;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    z-index: 10;
    position: absolute;
    color: black;

    &.played {
      border: 1px $success solid;
      box-shadow: 0 0 0.25rem $success;
    }

    .tile-score {
      font-size: 10px;
      font-weight: normal;
      bottom: -1px;
      right: 1px;
      position: absolute;
      line-height: normal;
    }
  }
}

#rack {
  align-self: start;

  .list-group {
    border-bottom: 3px solid black;
  }

  .gap {
    width: 42px;
    height: 45px;
    margin: .25rem;
  }

  .tile {
    width: 42px;
    height: 45px;
    font-size: 28px;
    font-weight: 500;
    border-radius: 2px;
    margin: .25rem;
    justify-content: center;
    display: inline-flex;
    padding: 0;

    .tile-score {
      font-size: 12px;
      font-weight: normal;
      line-height: 28px;
      bottom: -8px;
      right: 2px;
      position: absolute;
    }
  }

  &.rack-small {
    .tile {
      width: 36px;
      height: 38px;
      font-size: 19px;
      margin: .12rem;
    }

    .gap {
      width: 36px;
      height: 38px;
    }
  }
}

.tile {
  width: 35px;
  height: 37px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 2px;
  margin: .25rem;
  background-color: $tile-background;
  border: shade-color($tile-background, 30%) 1px solid;
  justify-content: center;
  display: inline-flex;
  position: relative;
  padding: 0;

  &.blank {
    color: red;
    background-image: url(django-static("logo-transparent.png"));
    background-size: contain;
  }

  .tile-score {
    font-size: 12px;
    font-weight: normal;
    line-height: 28px;
    bottom: -8px;
    right: 2px;
    position: absolute;
  }

  &.dragging {
    opacity: 0;
  }
}


#tile-exchange {
  .card-body {
    min-height: 77px;
  }
}

.turn-item {
  font-size: 14px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $light;
  align-self: stretch;

  #allTurns {
    max-height: 350px;
    overflow-y: scroll;
  }
}

.upwords-tile {
  font-weight: bold;
  font-size: 19px;
  background-color: $gray-100;
  border: $gray-300 1px solid;
  box-shadow: 0 0 1px 3px $gray-300;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;

  &.Q::after {
    content: "u";
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 14px;
  }

  .tile-score {
    display: none;
  }
}

#upwords-board-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;

  #upwords-board {
    border: 6px shade-color($double-letter, 50%) solid;
    border-radius: 6px;
    align-self: start;
  }

  .upwords-board-row {
    display: flex;
  }

  .upwords-board-square {
    width: 42px;
    height: 42px;
    font-size: 12px;
    background-color: shade-color($double-letter, 30%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 4px shade-color($double-letter, 50%);
    margin: 2px;
    border-radius: 2px;
    position: relative;

    &.pos-44, &.pos-45, &.pos-54, &.pos-55 {
      background-color: $double-letter;
    }

    .tile {
      @extend .upwords-tile;
      z-index: 10;
      position: absolute;
      height: 92%;
      width: 92%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &.height-2 {
        z-index: 12;
        &::before {
          box-shadow: 0 0 1px 3px $gray-300, 2px 2px 5px 5px $gray-700;
          z-index: 11;
        }
      }
      &.height-3 {
        z-index: 14;
        &::before {
          box-shadow: 0 0 1px 3px $gray-300, 2px 2px 8px 8px $gray-700;
          z-index: 13;
        }
      }
      &.height-4 {
        z-index: 16;
        &::before {
          box-shadow: 0 0 1px 3px $gray-300, 4px 4px 10px 8px $gray-700;
          z-index: 15;
        }
      }
      &.height-5 {
        z-index: 18;
        &::before {
          box-shadow: 0 0 1px 3px $gray-300, 4px 4px 12px 8px $gray-700;
          z-index: 17;
        }
      }

      &.played {
        &::before {
          box-shadow: unset;
        }
        box-shadow: 0 0 2px 4px tint-color($success, 40%);
      }

      .height-container {
        position: absolute;
        bottom: 1px;
        left: 0;
        display: flex;

        .height-marker {
          width: 5px;
          height: 5px;
          border-radius: 3px;
          background-color: $primary;
          margin-right: 3px;
          flex-grow: 0;
        }
      }
    }
  }
}

.upwords-rack-container {
  align-self: start;
  .tile {
    @extend .upwords-tile;

  }
}