{% extends "base_templates/base.html" %}
{% load static %}

{% load sass_tags %}

{% block title %}Home{% endblock %}

{% block head %}
  <link href="{% sass_src 'styles/pages/index.scss' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <h1>
      <img src="{% static 'logo.jpg' %}" height="100" class="align-self-center">
      Play Scrabble
    </h1>
    {% if not user.is_authenticated %}
      <p>Please log in to continue.</p>
    {% else %}
      <h2>Games In Progress</h2>
      {% for game_rack in in_progress_games %}
        <a href="{% url 'scrabble:play_scrabble' game_id=game_rack.game_id %}" class="btn btn-info">
          {% for rack in game_rack.game.racks.all %}{{ rack.user.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
          {% if game_rack.turn_index == game_rack.game.next_turn_index %}
            <span class="bi bi-exclamation-triangle text-warning" title="Your turn!"></span>
          {% endif %}
        </a>
      {% empty %}
        <p>You have no games currently in progress. Create a new one below.</p>
      {% endfor %}
      <div class="row mt-3">
        <div class="col-12">
          <a href="{% url 'scrabble:create_game' %}" class="btn btn-primary align-self-start">New Game</a>
        </div>
      </div>
      <hr>
      <h2>Past Games</h2>
      {% for game_rack in past_games %}
        <a href="{% url 'scrabble:play_scrabble' game_id=game_rack.game_id %}" class="btn btn-secondary">
          {% for rack in game_rack.game.racks.all %}{{ rack.user.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </a>
      {% endfor %}
    {% endif %}

  </div>
{% endblock %}
