{% extends "base_templates/base.html" %}
{% load static %}

{% load sass_tags %}

{% block title %}Home{% endblock %}

{% block head %}
  <link href="{% sass_src 'styles/pages/index.scss' %}" rel="stylesheet">
  <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content-class %}{% if not user.is_authenticated %}bg-primary-subtle py-4 full-height{% endif %}{% endblock %}

{% block body %}
  <div class="container py-3">
    {% if not user.is_authenticated %}
      <div class="card bg-white p-3 mx-4">
      <div class="d-flex flex-column w-100 align-items-center">
        <img src="{% static 'logo.jpg' %}" height="200">
        <h1>
          Scrabapple
        </h1>
        <p>Please log in to continue.</p>
      </div>
      </div>
    {% else %}
      <img src="{% static 'logo.jpg' %}" height="100">
      <h2>Games In Progress</h2>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        {% for game_rack in in_progress_games %}
          <div class="col mb-2">
            {% include "scrabble/components/game_card.html" with game=game_rack.game %}
          </div>
        {% empty %}
          <p>You have no games currently in progress. Create a new one below.</p>
        {% endfor %}
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <a href="{% url 'scrabble:create_game' %}" class="btn btn-primary align-self-start">New Game</a>
        </div>
      </div>
      <hr>
      {% if user_statistics %}
        <h2>Statistics</h2>
        <div class="card-group">
          {% for stat, value in user_statistics.items %}
            <div class="card">
              <div class="card-header text-center">
                {{ stat|title }}
              </div>
              <div class="card-body text-center text-info-emphasis fs-4">
                {{ value }}
              </div>
            </div>
          {% endfor %}
        </div>
        <hr>
      {% endif %}
      <h2>Past Games</h2>
      <div class="table-responsive">
        <table class="table" id="past-games-table">
          <thead>
            <td></td>
            <td>Game Type</td>
            <td>Players</td>
            <td>Winner(s)</td>
            <td>Total Score</td>
            <td>Completed On</td>
          </thead>
          <tbody>
            {% for game_rack in past_games %}
              <tr>
                <td>
                  <a href="{% url 'scrabble:play_game' game_id=game_rack.game_id %}" class="btn btn-secondary">View</a>
                </td>
                <td>
                  {{ game_rack.game.get_game_type_display }}
                </td>
                <td>
                  {% for rack in game_rack.game.ordered_racks %}
                    {{ rack.user.get_short_name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for rack in game_rack.game.winners %}
                    {{ rack.user.get_short_name }} ({{ rack.score }} points){% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </td>
                <td>
                  {{ game_rack.game.total_score }}
                </td>
               {% with completed_date=game_rack.game.all_turns.reverse.0.created_on %}
                <td data-order="{{ completed_date|date:'Ymd' }}">
                  {{ completed_date|date }}
                </td>
                {% endwith %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js" type="text/javascript"></script>
  <script>
    let table = new DataTable('#past-games-table');
  </script>
{% endblock %}