{% extends "base_templates/base.html" %}
{% load static %}

{% load sass_tags %}

{% block title %}Home{% endblock %}

{% block head %}
  <link href="{% sass_src 'styles/pages/index.scss' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <h1>
      <img src="{% static 'logo.jpg' %}" height="100" class="align-self-center">
      Play Scrabapple
    </h1>
    {% if not user.is_authenticated %}
      <p>Please log in to continue.</p>
    {% else %}
      <h2>Games In Progress</h2>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
        {% for game_rack in in_progress_games %}
          <div class="col mb-2">
            {% include "scrabble/components/game_card.html" with game=game_rack.game %}
          </div>
        {% empty %}
          <p>You have no games currently in progress. Create a new one below.</p>
        {% endfor %}
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <a href="{% url 'scrabble:create_game' %}" class="btn btn-primary align-self-start">New Game</a>
        </div>
      </div>
      <hr>
      <h2>Past Games</h2>
      {% for game_rack in past_games %}
        <a href="{% url 'scrabble:play_game' game_id=game_rack.game_id %}" class="btn btn-secondary">
          {% for rack in game_rack.game.racks.all %}{{ rack.user.get_short_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </a>
      {% endfor %}
    {% endif %}

  </div>
{% endblock %}
