<div class="py-2 px-1">
  {% for turn in game.all_turns.reverse %}
    <div class="turn-item">
      <span class="bi bi-play"></span>
      {{ turn.game_player.user.get_short_name }}
      {% if turn.turn_action == TurnAction.play %}
        played {{ turn.turn_words|join:", "|upper }}<br>
        <div class="badge bg-success-subtle text-dark rounded-pill">{{ turn.score }} point{{ turn.score|pluralize }}</div>
      {% elif turn.turn_action == TurnAction.pass_turn %}
        passed
      {% elif turn.turn_action == TurnAction.exchange %}
        exchanged tiles
      {% elif turn.turn_action == TurnAction.forfeit %}
        forfeited
      {% elif turn.turn_action == TurnAction.end_game %}
        {% if turn.score < 0 %}
          had unplayed tile{{ turn.rack_before_turn|pluralize }} {{ turn.rack_before_turn|join:"" }}<br>
          <div class="badge bg-danger-subtle text-dark rounded-pill">{{ turn.score }} point{{ turn.score|pluralize }}</div>
        {% else %}
          went out!
          {% if turn.score > 0 %}
          <div class="badge bg-success-subtle text-dark rounded-pill">{{ turn.score }} point{{ turn.score|pluralize }}</div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  {% empty %}
    No turns yet.
  {% endfor %}
</div>