{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ request.scheme }}://{{ request.get_host }}{% static 'styles/base.scss' %}" rel="stylesheet" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'logo.jpg' %}" height="40">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
