/**
 * Sass variables
 */

/* Override Bootstrap default variables */

$primary: #4a30a8;
$success: #2f9329;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';


$double-letter: #baedfa;
$triple-letter: #0dbff6;
$double-word: #fbaab8;
$triple-word: #f84c5d;

$tile-background: #eed193;