/**
 * Sass variables
 */

/* Override Bootstrap default variables */

// TODO: delete me; this is just a reference example
$primary: #2123a7;

$list-group-border-radius: 0;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';


$double-letter: #baedfa;
$triple-letter: #0dbff6;
$double-word: #fbaab8;
$triple-word: #f84c5d;

$tile-background: #f6d1ab;