/**
 * Sass variables
 */

/* Override Bootstrap default variables */

$primary: #4a30a8;
$success: #2f9329;

$accordion-button-padding-y: 0.5rem;
$accordion-button-focus-box-shadow: none;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';



$double-letter: #baedfa;
$triple-letter: #06a8f5;
$double-word: #fbaab8;
$triple-word: #f84c5d;

$tile-background: #ecd3a5;