{% extends "base_templates/email_base.html" %}
{% load static %}

{% block title %}Play {{ game_type }}!{% endblock %}

{% block body %}
  <h3 class="mb-3">You have been added to an online {{ game_type }} game!</h3>
  <p>
    {{ creating_user.get_short_name }} would like to play {{ game_type }} with you.
    Click below to join the game.
  </p>
  <a class="btn btn-primary"
     href="{{ request.scheme }}://{{ request.get_host }}{% url 'scrabble:play_game' game_id=game_id %}"
  >Play!</a>
{% endblock %}